{* This is the welcome page, you can delete it *}

{block content}
<div id="banner">
	<h1 n:block=title>Hello!</h1>
</div>

<p>Prihasen: {$user->getIdentity()->email}</p>
<a n:href="User:logout">Odhlasit</a>

<ul>
	<li n:foreach="$rooms as $room"><a n:href="Room:default $room->id">{$room->name}</a></li>
</ul>